.team-list {
  display: flex;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 375px;
  min-width: 220px;
  padding: 1.5rem;
  border-radius: 16px;
  background: var(--shaded);
  box-shadow: -1rem 0 3rem var(--primaryTextColor);
  transition: ease 200ms;
}

.card:hover {
    transform: translate(-1rem);
}

.card:hover~.card {
    transform: translate(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-author {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    align-items: center;
}

.author-avatar {
    grid-row: 1 / span 2;
}

.author-avatar img {
    grid-row: 1 / span 2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
}

.author-name {
    margin-bottom: -0.5rem;
    margin-left: 1rem;
    color: var(--secondaryTextColor);
}

.author-name-prefix {
    color: var(--primaryTextColor);
    font-style: normal;
    align-items: center;
    margin-top: -0.5rem;
    margin-left: 1rem;
}

.author-info {
    margin-top: 1rem;
    color: var(--primaryTextColor);
    grid-area: about;
}